

body {
    background-color: pink;
    overflow: hidden;
}

.block_text {
   
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    min-width: 175px ;

    max-width:400px;
}

.block_text h1 {
   
    font-size: 4rem;
}

